<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imagixit.higherstudies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/higher_studies"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/higher_studies_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HigherStudies">
        <activity android:name=".MajorcuActivity"></activity>
        <activity android:name=".MajorActivity" />
        <activity android:name=".HigherstudiesActivity" />
        <activity android:name=".CoursedetailsActivity" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".InboxActivity" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UniversityActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".ResetpasswordActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>